<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Backlog</title>

    <link rel="icon" href="./images/favicon.ico ">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../styles/css/steamBacklog.css">
</head>

<style>
    .hidden {
        display: none;
    }
</style>

<body class="bg-secondary-subtle">
    <nav class="navbar bg-primary mb-4">
        <div class="container">
            <a class="navbar-brand" href="./index.html">
                <img src="./images/Logo v1.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <div class="justify-content-end"><a href="./profile.html">
                    <p class="text-black">Profile</p>
                </a></div>
        </div>
    </nav>

    <div id="app" class="container">
        <div id="view1" class="">

            <div class="container text-start pb-3 mb-4">
                <div class="px-3 pb-3 border border-2 row g-3 bg-light rounded">
                    <div class="col-md-4">
                        <img src="http://shared.steamstatic.com/store_item_assets/steam/apps/427520/library_600x900.jpg"
                            class="img-fluid mx-auto d-block rounded" alt="Factorio's Steam Cover">
                    </div>

                    <div class="col-md-8 d-flex flex-column justify-content-evenly">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="fs-4">Factorio</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="fs-4">August 14, 2020</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <p class="fs-5">Current Playtime:</p>
                                </div>
                                <div class="row">
                                    <p class="fs-6">36.3 Hrs</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <p class="fs-5">Current Achievements:</p>
                                </div>
                                <div class="row">
                                    <p class="fs-6">16 / 30</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="fs-5">Tags:</p>
                            </div>
                            <div class="col-12 fs-6">
                                <p class="px-2 py-1 rounded-pill bg-info d-inline-block">Automation</p>
                                <p class="px-2 py-1 rounded-pill bg-info d-inline-block">Base Building</p>
                                <p class="px-2 py-1 rounded-pill bg-info d-inline-block">Resource Management</p>
                                <p class="px-2 py-1 rounded-pill bg-info d-inline-block">Crafting</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container text-start pb-3 mb-2">
                <div class="px-3 pb-3 border border-2 row g-3 bg-light rounded">
                    <div class="col-md-6 col-xl-8 fs-4 d-flex flex-column justify-content-evenly">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <p class="fs-4">Current Streak:</p>
                                </div>
                                <div class="row">
                                    <p class="fs-5">1</p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <p class="fs-4">Highest Streak:</p>
                                </div>
                                <div class="row">
                                    <p class="fs-5"> 5</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p class="fs-4">Common Cheat:</p>
                            </div>
                            <div class="col-12">
                                <p class="fs-5">The Binding of Isaac (2)</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class="border bg-secondary">
                            <p class="text-center">September</p>
                            <table class="table table-primary table-bordered text-center">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="table-success">1</td>
                                    <td class="table-success">2</td>
                                    <td class="table-success">3</td>
                                    <td class="table-success">4</td>
                                    <td class="table-success">5</td>
                                </tr>


                                <tr>
                                    <td>6</td>
                                    <td class="table-success">7</td>
                                    <td class="table-danger">8</td>
                                    <td>9</td>
                                    <td class="table-danger">10</td>
                                    <td>11</td>
                                    <td>12</td>
                                </tr>

                                <tr>
                                    <td class="table-success">13</td>
                                    <td class="table-active">14</td>
                                    <td>15</td>
                                    <td>16</td>
                                    <td>17</td>
                                    <td>18</td>
                                    <td>19</td>
                                </tr>

                                <tr>
                                    <td>20</td>
                                    <td>21</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                    <td>25</td>
                                    <td>26</td>
                                </tr>

                                <tr>
                                    <td>27</td>
                                    <td>28</td>
                                    <td>29</td>
                                    <td>30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container text-center py-3">
                <div class="row">
                    <div class="col-md-6 mt-1">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#finishedModal">
                            Game Finished
                        </button>

                        <div class="modal fade" id="finishedModal" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="finishedModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered text-start">
                                <div class="modal-content container">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="finishedModalLabel">Quick Survey:</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Everyone has a different definition of "done", how did you complete your
                                            game?</p>
                                        <form @submit.prevent="addTags(userPositiveTag)">
                                            <div class="row g-3">
                                                <div class="mb-3 form-radio col-6">
                                                    <label class="form-radio-label">
                                                        <input type="radio" class="form-radio-input"
                                                            name="completionReason" value="Fully Completed"
                                                            v-model="userPositiveTag">
                                                        Fully Completed</label>
                                                </div>
                                                <div class="mb-3 form-radio col-6">
                                                    <label class="form-radio-label">
                                                        <input type="radio" class="form-radio-input"
                                                            name="completionReason" value="Completed Main Quest"
                                                            v-model="userPositiveTag">
                                                        Completed Main
                                                        Quest</label>
                                                </div>
                                            </div>

                                            <div class="row g-3">
                                                <div class="mb-3 form-radio col-6">
                                                    <label class="form-radio-label">
                                                        <input type="radio" class="form-radio-input"
                                                            name="completionReason" value="Got an Ending"
                                                            v-model="userPositiveTag">
                                                        Got an
                                                        Ending</label>
                                                </div>
                                                <div class="mb-3 form-radio col-6">
                                                    <label class="form-radio-label">
                                                        <input type="radio" class="form-radio-input"
                                                            name="completionReason" value="Other"
                                                            v-model="userPositiveTag">
                                                        Other</label>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-primary move-on-1"
                                                data-bs-dismiss="modal"
                                                @click="newReview.finished = true">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mt-1">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#abortedModal">
                            Game Aborted
                        </button>

                        <div class="modal fade" id="abortedModal" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="abortedModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered text-start">
                                <div class="modal-content container">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="abortedModalLabel">Quick Survey:</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>What are some factors that led to you not wanting to continue this game?</p>
                                        <form @submit.prevent="addTags(userNegativeTags)">
                                            <div class="row g-3">
                                                <div class="col-6">
                                                    <div class="mb-3 form-checkbox">
                                                        <label class="form-checkbox-label">
                                                            <input type="checkbox" class="form-checkbox-input"
                                                                value="Game got too repetitive"
                                                                v-model="userNegativeTags">
                                                            Game got too
                                                            repetitive.</label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3 form-checkbox">
                                                        <label class="form-checkbox-label">
                                                            <input type="checkbox" class="form-checkbox-input"
                                                                value="Game got boring" v-model="userNegativeTags">
                                                            Game got
                                                            boring.</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row g-3">
                                                <div class="col-6">
                                                    <div class="mb-3 form-checkbox">
                                                        <label class="form-checkbox-label">
                                                            <input type="checkbox" class="form-checkbox-input"
                                                                value="I disliked the genre" v-model="userNegativeTags">
                                                            I disliked
                                                            the genre.</label>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="mb-3 form-checkbox">
                                                        <label class="form-checkbox-label">
                                                            <input type="checkbox" class="form-checkbox-input"
                                                                value="Other" v-model="userNegativeTags">
                                                            Other</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary move-on-1"
                                                data-bs-dismiss="modal"
                                                @click="newReview.finished = false">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div id="view2" class="">
            <div class="container text-start pb-3 mb-4">
                <div
                    :class="{'px-3':true, 'pb-3':true, 'border':true, 'border-1':true, 'row':true, 'g-3':true, 'bg-light':true, 'rounded':true, 'border-danger': !newReview.finished, 'border-success': newReview.finished}">
                    <div class="col-md-4">
                        <img src="http://shared.steamstatic.com/store_item_assets/steam/apps/427520/library_600x900.jpg"
                            class="img-fluid mx-auto d-block rounded" alt="Factorio's Steam Cover">
                    </div>

                    <div class="col-md-8 fs-4 d-flex">
                        <form class="w-100 d-flex  flex-column justify-content-evenly" @submit.prevent="addItem">
                            <div class="row">
                                <div class="col-sm-5 text-nowrap">
                                    Rating:
                                </div>

                                <div class="col">
                                    <i :class="{'bi':true, 'pointer':true, 'bi-star-fill':newReview.ratingNumber > 0, 'bi-star':newReview.ratingNumber == 0,  'ms-2':true}"
                                        @click="newReview.ratingNumber = 1"></i>

                                    <i :class="{'bi':true, 'pointer':true, 'bi-star-fill':newReview.ratingNumber > 1, 'bi-star':newReview.ratingNumber <= 1,  'ms-2':true}"
                                        @click="newReview.ratingNumber = 2"></i>

                                    <i :class="{'bi':true, 'pointer':true, 'bi-star-fill':newReview.ratingNumber > 2, 'bi-star':newReview.ratingNumber <= 2,  'ms-2':true}"
                                        @click="newReview.ratingNumber = 3"></i>

                                    <i :class="{'bi':true, 'pointer':true, 'bi-star-fill':newReview.ratingNumber > 3, 'bi-star':newReview.ratingNumber <= 3,  'ms-2':true}"
                                        @click="newReview.ratingNumber = 4"></i>

                                    <i :class="{'bi':true, 'pointer':true, 'bi-star-fill':newReview.ratingNumber > 4, 'bi-star':newReview.ratingNumber <= 4,  'ms-2':true}"
                                        @click="newReview.ratingNumber = 5"></i>
                                </div>
                            </div>

                            <div class="row">
                                <label for="finalThoughts">Final Thoughts:</label>
                                <textarea name="finalThoughts" id="finalThoughts" class="fs-6"
                                    v-model="newReview.review"></textarea>
                            </div>

                            <div class="row">
                                <button type="submit" class="btn btn-primary move-on-2">Submit Review and Find your Next
                                    Game!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container text-center pt-2 pb-1 mb-4">
                <p class="fs-4">Scroll down to see all reviews!</p>
                <hr>
            </div>

            <div class="container text-start" v-for="review in reviewList">
                <div v-if="review.gameID === '427520'"
                    :class="{'container':true, 'pb-3':true, 'my-4':true, 'rounded':true, 'border':true, 'border-opacity-50':true, 'border-danger': !review.finished, 'border-success': review.finished, 'py-3':true, 'px-1':true, 'bg-danger-subtle': !review.finished, 'bg-success-subtle': review.finished}">
                    <div class="row g-3">
                        <div class="col-md-2 offset-md-1 d-none d-md-block">
                            <img :src="`./images/test-images/${review.username}ProfileIcon.png`"
                                :alt="`A profile picture for ${review.username}`"
                                class="w-75 mx-auto border border-2 rounded-3">
                        </div>
                        <div class="col-md-9 offset-1 offset-md-0">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <p class="fs-4">{{review.username}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="fs-4">
                                        <i class="bi bi-star-fill ms-1" v-for="n in review.ratingNumber"></i>
                                        <i class="bi bi-star ms-1" v-for="n in (review.ratingNumber-5)*-1"
                                            v-if="(review.ratingNumber-5)*-1"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-6  d-none d-md-block">
                                    <div class="row">
                                        <p class="fs-4">Hours Played:</p>
                                    </div>
                                    <div class="row">
                                        <p class="fs-5">{{review.hours}}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <p class="fs-4">{{review.finished ? "Finished by" : "Reason for Aborting"}}:</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-auto">
                                            <p class="px-2 py-1 fs-6 rounded-pill bg-info d-inline-block"
                                                v-for="userReasons in review.reasons">{{userReasons}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 mt-2">
                        <div class="offset-1 col-9">
                            <p class="fs-4">Final Thoughts:</p>
                            <p class="fs-6">{{review.review}}</p>
                        </div>
                        <div class="col-2">
                            <p><i @click="review.communityVote++"
                                    :class="{'bi':true, 'pointer':true, 'bi-arrow-up-circle':true}"></i>
                            </p>
                            <div>
                                <p>{{review.communityVote}}</p>
                            </div>
                            <p><i @click="review.communityVote--"
                                    :class="{'bi':true, 'pointer':true, 'bi-arrow-down-circle':true}"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="view3" class="">
            <div class="container text-start pb-3 mb-4 ">
                <div class=" px-3 pb-3 border border-2 row g-3 bg-light rounded">
                    <carousel :image-id-array='["881100", "1057090", "420530", "205910", "1390190"]'></carousel>
                    <div class="d-flex justify-content-evenly">
                        <button class="button btn btn-primary"><i class="bi bi-arrow-left"></i></button>
                        <button type="button" class="btn btn-success position-relative">
                            Re-Roll All
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                                5
                                <span class="visually-hidden">Re-rolls left</span>
                            </span>
                        </button>
                        <button class="button btn btn-primary"><i class="bi bi-arrow-right"></i></button>
                    </div>


                    <div class="text-center">
                        <p class="fs-2">
                            Noita
                        </p>
                        <hr>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-5">
                            <div class="row">
                                <p class="fs-4 text-center">
                                    Description
                                </p>
                            </div>
                            <div class="row">
                                <p class="fs-6">
                                    Noita is a magical action roguelite set in a world where every pixel is physically
                                    simulated. Fight, explore, melt, burn, freeze and evaporate your way through the
                                    procedurally generated world using spells you've created yourself.
                                </p>
                            </div>
                        </div>
                        <div class="offset-md-2 col-md-5">
                            <div class="row">
                                <p class="fs-4">Average Rating: </p>
                                <p class="fs-5">
                                    <i class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill me-1"></i><i
                                        class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill me-1"></i><i
                                        class="bi bi-star me-1"></i>
                                </p>
                            </div>
                            <div class="row">
                                <p class="fs-4">Tags: </p>
                                <div>
                                    <p class="px-2 py-1 rounded-pill bg-info d-inline-block me-1">Physics</p>
                                    <p class="px-2 py-1 rounded-pill bg-info d-inline-block me-1">Roguelike</p>
                                    <p class="px-2 py-1 rounded-pill bg-info d-inline-block me-1">Difficult</p>
                                    <p class="px-2 py-1 rounded-pill bg-info d-inline-block me-1">Pixel Graphics</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md bg-success-subtle border rounded border-1 border-success mb-2">
                            <div class="row mt-2 px-2">
                                <div class="col">
                                    <p class="fs-5">CoolGamer123</p>
                                </div>
                                <div class="col text-nowrap">
                                    <p class="fs-5"> <i class="bi bi-arrow-up"></i> 14</p>
                                </div>
                                <div class="col text-nowrap">
                                    <p class="fs-4"><i class="bi bi-star-fill me-1"></i><i
                                            class="bi bi-star-fill me-1"></i><i class="bi bi-star-fill me-1"></i><i
                                            class="bi bi-star-fill me-1"></i><i class="bi bi-star me-1"></i></p>
                                </div>
                            </div>
                            <div class="row px-2">
                                <p class="fs-6">I'm coming up on 300 hours in Noita. I still have not beaten it. I've seen the "final
                                    level" once. I recognize this may be what is referred to as a "skill issue", but it
                                    does not bother me in the slightest and I keep coming back. The skill I need to hone
                                    is knowledge, and the only way to gain that knowledge is to die a few hundred more
                                    times.</p>
                            </div>
                        </div>
                        <div class="col-md offset-md-1 bg-danger-subtle border rounded border-1 border-danger mb-2">
                            <div class="row mt-2 px-2">
                                <div class="col">
                                    <p class="fs-5">CandyMode3212</p>
                                </div>
                                <div class="col text-nowrap">
                                    <p class="fs-5"> <i class="bi bi-arrow-up"></i> 5</p>
                                </div>
                                <div class="col text-nowrap">
                                    <p class="fs-4"><i class="bi bi-star-fill me-1"></i><i
                                            class="bi bi-star-fill me-1"></i><i class="bi bi-star me-1"></i><i
                                            class="bi bi-star me-1"></i><i class="bi bi-star me-1"></i></p>
                                </div>
                            </div>
                            <div class="row px-2">
                                <p class="fs-6">
                                    Used to be great a long time ago, until about a year and half after its initial EA
                                    release. After a 5 year break seems it only got worse. It's simply no fun anymore.
                                    Too many things work against the player in a bad way and they just kept adding more
                                    things like that and making anything that helped the player worse, even fun dumb
                                    ones like the glass cannon perk. Even for a Roguelike it's just way too much.
                                </p>
                            </div>
                        </div>
                    </div>

                    <button class="button btn btn-success">Select This Game!</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="d-flex justify-content-center bg-secondary pt-2">
        <p>
            Steam Backlog - Kyle Penza <i class="bi bi-c-circle"></i>2025
        </p>
    </footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script src="../js/mover.js"></script>

<script type="module">

    import app from './js/app.js';

    app.mount('#app');

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

</html>