<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Backlog</title>

    <link rel="icon" href="./images/favicon.ico ">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../styles/css/steamBacklog.css">
</head>

<style>
    .hidden {
        display: none;
    }
</style>

<body class="bg-secondary-subtle">
    <nav class="navbar bg-primary mb-4">
        <div class="container">
            <a class="navbar-brand" href="./index.html">
                <img src="./images/Logo v1.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            </a>
            <div class="justify-content-end"><a href="./profile.html">
                    <p class="text-black">Profile</p>
                </a></div>
        </div>
    </nav>

    <div id="app" class="container">
        <div id="view1" v-if="activeGame.appId">

            <div class="container text-start pb-3 mb-4">
                <div class="px-3 pb-3 border border-2 row g-3 bg-light rounded">
                    <div class="col-md-4">
                        <img :src="`http://shared.steamstatic.com/store_item_assets/steam/apps/${activeGame.appId}/library_600x900.jpg`"
                            class="img-fluid mx-auto d-block rounded" :alt="`${activeGame.name}'s Steam Cover`">
                    </div>

                    <div class="col-md-8 d-flex flex-column justify-content-evenly">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="fs-4">{{activeGame.name}}</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="fs-4">{{activeGame.releaseDate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <p class="fs-5">Current Playtime:</p>
                                </div>
                                <div class="row">
                                    <p class="fs-6">{{activeGame.hoursPlayed}} Hrs</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <p class="fs-5">Current Achievements:</p>
                                </div>
                                <div class="row">
                                    <p class="fs-6">16 / 30</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="fs-5">Tags:</p>
                            </div>
                            <div class="col-12 fs-6">
                                <p class="px-2 py-1 rounded-pill bg-info d-inline-block me-1" v-for="tag in activeGame.tags">{{tag}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container text-start pb-3 mb-2">
                <div class="px-3 pb-3 border border-2 row g-3 bg-light rounded">
                    <div class="col-md-6 col-xl-8 fs-4 d-flex flex-column justify-content-evenly">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <p class="fs-4">Current Streak:</p>
                                </div>
                                <div class="row">
                                    <p class="fs-5">1</p>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <p class="fs-4">Highest Streak:</p>
                                </div>
                                <div class="row">
                                    <p class="fs-5"> 5</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p class="fs-4">Common Cheat:</p>
                            </div>
                            <div class="col-12">
                                <p class="fs-5">The Binding of Isaac (2)</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4">
                        <div class="border bg-secondary">
                            <p class="text-center">September</p>
                            <table class="table table-primary table-bordered text-center">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="table-success">1</td>
                                    <td class="table-success">2</td>
                                    <td class="table-success">3</td>
                                    <td class="table-success">4</td>
                                    <td class="table-success">5</td>
                                </tr>


                                <tr>
                                    <td>6</td>
                                    <td class="table-success">7</td>
                                    <td class="table-danger">8</td>
                                    <td>9</td>
                                    <td class="table-danger">10</td>
                                    <td>11</td>
                                    <td>12</td>
                                </tr>

                                <tr>
                                    <td class="table-success">13</td>
                                    <td class="table-active">14</td>
                                    <td>15</td>
                                    <td>16</td>
                                    <td>17</td>
                                    <td>18</td>
                                    <td>19</td>
                                </tr>

                                <tr>
                                    <td>20</td>
                                    <td>21</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                    <td>25</td>
                                    <td>26</td>
                                </tr>

                                <tr>
                                    <td>27</td>
                                    <td>28</td>
                                    <td>29</td>
                                    <td>30</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Write Review and Find Next Game
            </button>

            <!-- Modal -->
            <add-review-modal @add-review="addReview" :user-object="currentUser" :active-game="activeGame"></add-review-modal>

        </div>

        <div id="view2" v-if="newReview.gameName">
            <div class="container text-center pt-2 pb-1 mb-4">
                <p class="fs-4">Rate Reviews Below!</p>
                <hr>
            </div>

            <div class="container text-start" v-for="review in reviewList">
                <div v-if="review.gameId === newReview.gameId"
                    :class="{'container':true, 'pb-3':true, 'my-4':true, 'rounded':true, 'border':true, 'border-opacity-50':true, 'border-danger': review.ratingNumber <3, 'border-success': review.ratingNumber >2, 'py-3':true, 'px-1':true, 'bg-danger-subtle': review.ratingNumber <3, 'bg-success-subtle': review.ratingNumber >2}">
                    <review-list-item :review="review"></review-list-item>
                </div>
            </div>

            <div class="d-flex justify-content-end sticky-bottom ">
                <button @click="clearReview" class="button btn btn-primary">Find your Next Game!</button>
            </div>
        </div>

        <game-selector-section @save-this-game="setActiveGame" v-if="!activeGame.appId && !newReview.gameName"></game-selector-section>
    </div>
    </div>

    <footer class="d-flex justify-content-center bg-secondary pt-2 mt-5">
        <p>
            Steam Backlog - Kyle Penza <i class="bi bi-c-circle"></i>2025
        </p>
    </footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script type="module">

    import app from './js/app.js';

    app.mount('#app');

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

</html>